@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,800';
*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
div, header, nav, main, aside, section, article, footer{
    display: block;
    font-family: "Open sans", sans-serif;
}

html { 
  background: url(../starter_code/images/citipix_skyline.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
    text-align: center;
    background-color: black;
    opacity: .5;
    color: white;
    padding: 20px 0px;
    
}
header h1{
    font-size: 36px;
    font-weight: 800;
}

header p{
    font-size: 18px;
    font-weight: 700;
}
.container{
    margin-top: 40px;
    
}

input[type="text"]{
    width:500px;
    height:40px;
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
}
input[type="button"]{
    width:150px;
    height: 44px;
    font-size: 24px;
    font-weight: 700;
    background-color: yellow;
    border: 1px solid black;
}
#message{
    padding:50px 0px;
    font-size:24px;
    font-weight: 800;
    color: yellow;
}