
html {

	margin: 0;
	padding: 0;
}

body {
	/*//background-color: black;*/
	height: 1000px;
	background-image: url("../starter_code/images/citipix_skyline.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

.container {

	width: 90%;
	margin:auto;
	margin-top: 90px;
}


header {
	height: 150px;
	background-color: #6a6a6a;
	text-align: center;
	color:white;
	opacity: 0.6;
}

header h1, header p {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 40px;
	padding: 25px 0px 0px 0px; 

}

header p {
	font-size: 26px;
	font-weight: 400;
	text-transform: lowercase;
}



.container a {

	
	font-size: 40px;

	font-family: 'Oxygen', sans-serif;
	font-weight: bold;

	height: 63px;
	text-decoration: none;
	color:black;

	text-transform: uppercase;
	
	width: 20%;
	background-color: #f6e53c;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	margin-top: 10px;
	padding-top: 23px;
	padding-bottom: 0px;
	box-shadow: 1px 1px 4px black;
	/*margin-bottom: 90px;*/

}

.container a:hover {

	color: red;
}

input {
	/*margin:0px;
	padding:0px;*/
	/*margin-top: 10px;*/
	height: 80px;
	width: 70%;
	font-size: 3em;
	display: inline-block;
	margin-right: 25px;
	padding-left: 40px;
	border: 2px solid #4464a0;
	box-shadow: 1px 1px 4px black;


}
